<!--The content below is only a placeholder and can be replaced.-->

<!-- <div>
    <p>name: {{name}}</p>
    <p>street: {{adress.street}}</p>
    <p>city: {{adress.city}}</p>
    <ul>
        <li *ngFor="let hobby of hobbies">
            {{hobby}}
        </li>
    </ul>
</div> -->

<!-- <form (submit)="agregarUsuario(nuevoUsuario)">
    <input type="text" #nuevoUsuario>
    <button>Enviar usuario</button>
</form>

<ul>
    <li *ngFor="let user of users">
        {{user}} <button (click)="deleteUser(user)">Delete user</button>
    </li>
</ul>


<div>
    <form>
        <input type="text" name="name" [(ngModel)]="name">
        <input type="text" name="age" [(ngModel)]="age">
    </form>

    name: {{name}}<br>
    age: {{age}}
</div>

<hr>

<div *ngFor="let paciente of pacientes">
    <h3>{{paciente.nombre}} {{paciente.apellidos}}</h3>
    <ul>
        <li>sip: {{paciente.sip}}</li>
        <li>edad: {{paciente.edad}}</li>
        <li>peso: {{paciente.peso}}</li>
        <li>genero: {{paciente.genero}}</li>
        <li>medico: {{paciente.medico}}</li>
    </ul>
</div> -->

<app-cabecera></app-cabecera>


<router-outlet></router-outlet>