<app-header titulo="recomendaciones"></app-header>

<ion-content>

        <!-- <ion-slides color="secondary">

            <ion-slide *ngFor="let recomendacion of recomendaciones" pager="true">
                
                <ion-card color="medium">  
                    <img src="../assets/recomendaciones/{{recomendacion.img}}" class="ion-align-self-start"/>

                    <ion-card-header class="ion-align-self-center">
                        <ion-card-title>{{ recomendacion.titulo }}</ion-card-title>
                    </ion-card-header>
                
                    <ion-card-content class="ion-align-self-end">{{ recomendacion.descripcion }}</ion-card-content>
                </ion-card>

            </ion-slide>

        </ion-slides> -->


        <ion-slides color="secondary">

            <ion-slide pager="true">
                
                <ion-card color="medium">  
                    <img src="../assets/recomendaciones/running.jpg" class="ion-align-self-start"/>

                    <ion-card-header class="ion-align-self-center">
                        <ion-card-title>Hacer deporte moderado</ion-card-title>
                    </ion-card-header>
                
                    <ion-card-content class="ion-align-self-end">La intensidad de la actividad física. La intensidad refleja la velocidad a la que se realiza la actividad, o la magnitud del esfuerzo requerido para realizar un ejercicio o actividad.</ion-card-content>
                </ion-card>

            </ion-slide>

            <ion-slide pager="true">
                <ion-card color="medium">  
                    <img src="../assets/recomendaciones/saludable.jpg" class="ion-align-self-start"/>

                    <ion-card-header class="ion-align-self-center">
                        <ion-card-title>Comer de forma saludable</ion-card-title>
                    </ion-card-header>
                
                    <ion-card-content class="ion-align-self-end">Una alimentación saludable consiste en ingerir una variedad de alimentos que te brinden los nutrientes que necesitas para mantenerte sana, sentirte bien y tener energía. Estos nutrientes incluyen las proteínas, los carbohidratos, las grasas, el agua, las vitaminas y los minerales.</ion-card-content>
                </ion-card>

            </ion-slide>


            <ion-slide pager="true">

                <ion-card color="medium">  
                    <img src="../assets/recomendaciones/beber.jpg" class="ion-align-self-start"/>

                    <ion-card-header class="ion-align-self-center">
                        <ion-card-title>Beber suficiente agua</ion-card-title>
                    </ion-card-header>
                
                    <ion-card-content class="ion-align-self-end">Los estudios establecieron diversas recomendaciones a lo largo de los años. Pero tus necesidades individuales de agua dependen de muchos factores, como tu salud, el nivel de actividad y dónde vives.</ion-card-content>
                </ion-card>
            </ion-slide>
                
                

            

        </ion-slides>

</ion-content>


