<ion-tabs no-border>

  <ion-tab-bar slot="bottom" color="primary">

    <ion-tab-button tab="principal">
        <ion-icon name="pulse"></ion-icon>
        <ion-label>Historial</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="medicacion">
        <ion-icon name="medkit"></ion-icon>
        <ion-label>Medicación</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="recomendaciones">
        <ion-icon name="paper"></ion-icon>
        <ion-label>Recomendaciones</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="vincular">
        <ion-icon name="sync"></ion-icon>
        <ion-label>Vincular</ion-label>
    </ion-tab-button>

  </ion-tab-bar>

</ion-tabs>