ion-header{
    background-color: #31708E;
}
ion-toolbar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #31708E;
}

ion-icon{
    margin-right: .5em;
}