ul {
    display: flex;
    flex-direction: column;
    list-style: none;
}

li {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

li>p:first-child {
    margin-right: 2.5em;
}